body{
    background: linear-gradient(to right, #00AAFF, #00FF6C)
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10em 10em 10em;
    grid-gap: 5em;
}

.cards{
    /* height: 8em; */
    /* width: 8em; */
}
.hidden{
    display: none;
}

#dashboard{
    justify-content: center;
    vertical-align: middle;
    padding: 1em;
}

#dashboard > div{
    display: block;
    align-items: center;
    align-content: center;
}

.grid-item{
    align-content: center;
    text-align: center;

}

#cardGrid {
    font-size: 75px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
}

#cardGrid > div {
    border: 2px solid steelblue;
    border-radius: 15px;
    background-color: steelblue;
    text-align: center;
    line-height: 100px;
}

#cardGrid > div:hover {
    border-color: red;
}

#cardGrid > .card-visible {
    background-color: white;
}

#newGameBtn {
    margin-top: 25px;
}